@import "app-styles/colors";

.nav-menu-responsive .nav-menu-item,
.nav-menu .nav-menu-item {
	position: relative;

	a {
		text-decoration: none;
		color: $blue;
		pointer-events: none;

		&:after {
			position: absolute;
			top: 0;
			bottom: -5px;
			right: 0;
			left: 0;
			content: '';
			border-bottom: solid 2px $blue;
			transform: scaleX(1);
			transition: transform 250ms ease-in-out;
		}

		&:not(.active) {
			pointer-events: all;

			&:after {
				transform: scaleX(0);
			}

			&:hover:after {
				transform: scaleX(1);
			}
		}
	}
}

.nav-menu-responsive {
	overflow: hidden;
	height: 0;
	transition: height 500ms ease-in-out;
	background: linear-gradient(white, $light-grey);

	&.expanded {
		height: 100%;
	}
}
